<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="DI_ETL_TOS"/>
<stringAttribute key="TALEND_JOB_ID" value="_fBX94MAgEeSXVeKhv7ZMlg"/>
<stringAttribute key="TALEND_JOB_NAME" value="Lesson_7_Advanced_Lookup"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
