<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="DI_ETL_TOS"/>
<stringAttribute key="TALEND_JOB_ID" value="_rUy3kLqfEeSpNoX2kqLMoA"/>
<stringAttribute key="TALEND_JOB_NAME" value="Lesson_2_XML_to_CSV"/>
<stringAttribute key="TALEND_JOB_VERSION" value="1.0"/>
</launchConfiguration>
