<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="DI_ETL_TOS"/>
<stringAttribute key="TALEND_JOB_ID" value="_kl43QLbIEeSf948drLwtaw"/>
<stringAttribute key="TALEND_JOB_NAME" value="Lesson_05_tMap"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
